cp4i:
- project: cp4i
  openshift_cluster_name: cpd-demo
  cp4i_version: 2022.4.1-0
  accept_licenses: True
  use_case_files: False
  instances:
  - type: platform-navigator
    state: removed
  - type: api-management
    state: removed
  - type: automation-assets
    state: removed
  - type: enterprise-gateway
    state: removed
  - type: event-endpoint-management
    state: removed
  - type: event-streams
    state: removed
  - type: high-speed-transfer-server
    state: removed
  - type: integration-dashboard
    state: removed
  - type: integration-design
    state: removed
  - type: integration-tracing
    state: removed
  - type: messaging
    state: removed
