html,
div,
body {
    background-color: #1a1a1a;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    outline: none;
}

body {
    font-family: Helvetica, sans-serif;
}

a:hover {
    color: #A6C8FF;
    text-decoration: underline;
}

a:visited {
    color: #BE95FF;
}

.timeline-container {
    margin-top: 2rem;
}

.timeline {
    position: relative;
    padding: 0.5rem 1rem 1rem 4rem;
}

.dot {
    content: "";
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    border: 0px solid #FF9F55;
    border-radius: 50%;
    background-color: white;
    left: 1rem;
    top: 0rem;
}

.content {
    color: white;
    background: transparent;
    margin-top: -2.22rem;
    margin-left: -1.5rem;
}

.timeline:not(:last-child):before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: white;
    left: 1.25rem;
    bottom: 0rem;
    top: 0.6rem;
}

.button.is-dark.is-medium {
    font-family: 'IBM Plex Sans', sans-serif;
    background: transparent;
    border-color: white;
    color: #fff;
    border: 1px solid white;
    margin-bottom: 1.8rem !important;
    margin-top: -0.5rem !important;
    border-radius: 0rem;
    min-width: 11.25rem;
    font-size: 14px;
    text-align: left;
    min-height: 3rem;
    margin: 0rem;
    justify-content: left;
}

.button.is-dark.is-medium:hover {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #2a67f5;
    border-color: white;
    color: #fff;
    text-decoration: none;
}

.footer-cta {
    background-color: #343A3E !important;
    min-width: 50%;
    background-color: #343A3E;
    padding: 30px;
    padding-left: 60px;
    padding-bottom: 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: auto;
    background: transparent;
    margin-left: 2rem;
    margin-top: 2rem;
}

.image-content {
    pointer-events: auto !important;
    padding: 0.313rem 0.625rem;
    color: black;
    position: relative;
    font-size: 27px;
}

.image-content a:hover {
    text-decoration: underline;
}

.image-div {
    display: block;
    position: relative;
    background-color: white;
    min-width: 50%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("https://raw.githubusercontent.com/IBM/Developer-Playground/master/didact/images/github.svg");
    background-position: -8rem 120%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
}

.image-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #0062FF;
    width: 18.75rem;
    padding: 0px;
    padding-bottom: 1.25rem;
}

.image-link span {
    float: right;
    font-size: 32px;
    padding-right: 1.25rem;
}

.image-btn .image-link:hover {
    text-decoration: underline;
    color: white !important;
    background-color: #0353E9 !important;
}

.image-btn a:hover {
    text-decoration: none !important;
    color: white !important;
}

.image-link {
    color: white !important;
    display: block !important;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem !important;
    line-height: 1.75rem !important;
    font-size: 16px !important;
}

.header {
    background-position: right;
    width: 95%;
    min-height: 4.375rem;
    display: inline-block;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    max-width: 75rem;
    background-repeat: no-repeat;
    background-size: 43.75rem 31.25rem;
}

.header .left-content {
    float: left;
    width: 50%;
    background-color: #525252 !important;
    min-height: 16.875rem;
    font-size: 16px;
    padding-top: 2.188rem;
}

.header .left-content h4 {
    background: none;
    color: #C1C7CD;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}

.header .left-content div {
    background: none;
    color: #C1C7CD;
    padding-left: 0.938rem;
    padding-right: 1.563rem;
    font-size: 16px;
    margin-bottom: 0.625rem;
}

.container a {
    color: #BE95FF;
    background-color: transparent;
    text-decoration: none;
}

.container a:visited {
    color: #8C43FC;
    background-color: transparent;
    text-decoration: none;
}

.apptitle {
    margin-left: 1.563rem;
    margin-bottom: 0px;
    font-size: 26px !important;
    color: white !important;
    background: transparent;
}

.subheading {
    margin-left: 1.563rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 14px;
    color: #c1c7cd;
    background: transparent;
}

.no-hover:hover {
    background-color: #A6C8FF !important;
}

.section {
    margin-top: 0.313rem;
    margin-bottom: -3.125rem;
}

.hidden-state {
    display: none;
}

summary {
    float: left;
    display: flex;
    justify-content: space-between;
}

summary::marker {
    display: none;
    content: "";
}

details>summary>span {
    content: url("https://raw.githubusercontent.com/IBM/Developer-Playground/master/didact/images/arrow-right.svg");
    margin-left: 1rem;
}

details[open]>summary>span {
    content: url("https://raw.githubusercontent.com/IBM/Developer-Playground/master/didact/images/arrow-down.svg");
}

details {
    margin-bottom: -2rem;
}

details .button.is-dark.is-medium {
    min-height: 0rem;
}

details .content {
    padding-left: 1.5rem;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox-item {
    float: left;
    padding: 0.5rem;
    flex: 1 1 22%;
}

label {
    flex: none;
}

.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

.no-click {
    pointer-events: none;
}

.enable {
    opacity: 1;
    cursor: auto;
}

.allow-click {
    pointer-events: auto;
}

.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    width: 12rem;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list .items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list .items li {
    list-style: none;
}

.dropdown-check-list .items ul {
    margin-left: 0rem;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
    max-height: 14rem;
    max-width: 15.52rem;
    overflow: auto;
}

.env-config {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
}

.env-config label {
    text-align: left;
}